<div class="panel-body">
<div class="row" ng-app="sbAdminApp" ng-controller="newEntityCtrl">

<form ng-submit="PreviewCopybookFile()" name="previewForm">
  <div class="form-group">
        <label>Select Copybook file</label> 
        <div hdfsfileuploader uploadedpath="uploadedCopybookPath" uploadedfiles="uploadedCopybookFiles" required> </div>
    </div>
    <div class="form-group">
        <label>Select Copybook Sample data files</label> 
        <div hdfsfileuploader multiple="true" uploadedpath="uploadedCopybookDataPath" uploadedfiles="uploadedCopybookDataFiles" required> </div>
    </div>

    <div class="form-group">
        <label>Select Copybook Split Option</label> 
       <select ng-model="selectCopybookSplitLevel"  class="form-control" ng-options="x.name for x in CopybookSplitLevels" required> </select>
    </div>

    <div class="form-group">
        <label>Select Copybook File Structure</label> 
       <select ng-model="selectCopybookFileStructure"  class="form-control" ng-options="x.name for x in CopybookFileStructure" required></select>
    </div>

    <div class="form-group">
        <label>Select Copybook Binary Format</label> 
       <select ng-model="selectCopybookBinaryFormat"  class="form-control" ng-options="x.name for x in CopybookBnaryFormat" required></select>
    </div>
    <div class="form-group">
        <label>Select Copybook Font</label> 
       <select ng-model="selectCopybookFont"  class="form-control" ng-options="x for x in CopybookFont" required></select>
    </div>
    <button class="btn btn-primary" ng-disabled="previewForm.$invalid">Preview</button>
</form>
</div>


</div>